.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.toolbar {
  a {
    color: white;
    font-weight: 400;
    margin: 0 5px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
